@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #444;
    background-image: url('https://source.unsplash.com/random/2560x1440/?city');
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: #fff;
    padding: 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: #fff;
    transition: .1s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #fff;
    font-size: 105%;
    width: calc(100% - 100px);
}

h1.temp {
    margin: 0;
}